.advantages {
  .container-padding();
  padding-bottom: 60px;
}
.advantages__title {
  margin: 0;
  .fonts-bold();
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin-top: 70px;
  margin-bottom: 30px;
}
.advantages__items {
  .list();
}
.advantages__item {
  .fonts-bold();
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  padding-top: 60px;
  margin-bottom: 35px;
}
