.assortment {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-color: #f9f9f9;
  background-size: 320px;
  background-repeat: no-repeat;
}
.assortment__header {
  padding-left: 30px;
  padding-right: 30px;
}
.assortment__slogan {
  margin: 0;
  .fonts-bold();
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  width: 242px;
  padding-top: 20px;
  padding-bottom: 58px;
  margin-left: 9px;
}
.assortment__btn {
  display: block;
  .fonts-bold();
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 135px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.assortment__btn--left {
  background: #63d1bb;
}
.assortment__btn--right {
  background: #56c3b2;
}

@media @tablet-widths {
  .assortment {
    background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat center;
  }
  .assortment__slogan {
    font-size: 43px;
    line-height: 50px;
    width: 500px;
    margin: auto;
    padding-top: 117px;
    padding-bottom: 25px;
  }
  .assortment-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 668px;
    margin-top: 165px;
  }
  .assortment__btn {
    width: 264px;
  }
}

@media @desktop-widths {
  .assortment__slogan {
    width: 620px;
    font-size: 53px;
    line-height: 57px;
  }
  .assortment-wrapper {
    width: 1050px;
  }
  .assortment__btn {
    width: 525px;
  }
}
