.catalog {
  margin-bottom: 31px;
}
.catalog-item {
  border: 1px solid #ececec;
  margin-bottom: 32px;
  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }
  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}
.catalog__header {
  background: #f1f1f1;
  text-align: center;
  margin-bottom: 32px;
}
.catalog__title {
  .fonts-bold();
  .paragraph();
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  padding-top: 70px;
  padding-bottom: 75px;
}
.catalog__wrapper {
  .container-padding();
}
.catalog-item img {
  width: 316px;
  height: 195px;
}
.catalog-item__text {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #ececec;
  padding-bottom: 18px;
  margin-left: 28px;
  margin-right: 27px;
}
.catalog-item__text h4 {
  .paragraph();
  .fonts-bold();
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 4px;
  margin-top: 23px;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
.catalog-item__text p {
  .paragraph();
  .fonts-regular();
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}
.catalog-item__price {
  display: flex;
  justify-content: space-between;
  padding-bottom: 27px;
  padding-top: 21px;
}
.catalog-item__price span {
  .fonts-bold();
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  margin-left: 27px;
}
.catalog-item__basket {
  font-size: 0;
  width: 21px;
  height: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  background: url(../img/icon-cart.svg) no-repeat;
  margin-right: 25px;
  &:hover {
    background: url(../img/icon-cart-hover.svg) no-repeat;
  }
  &:active {
    background: url(../img/icon-cart-active.svg) no-repeat;
  }
}

@media @tablet-widths {
  .catalog {
    border-top: 1px solid #e7e7e7;
    margin-top: -42px;
    margin-bottom: 52px;
  }
  .catalog__header {
    background: #f1f1f1 url("../img/bg-zigzag-fill.svg") repeat-x bottom;
    background-size: auto 23px;
    margin-bottom: 68px;
  }
  .catalog__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 96px;
    padding-bottom: 90px;
    margin-left: 10px;
  }
  .catalog-item {
    display: flex;
    margin-bottom: 52px;
  }
  .catalog-item img {
    width: 334px;
    height: 334px;
  }
  .catalog-item__link {
    font-size: 0;
  }
  .catalog-item__text-wrapper {
    width: 285px;
  }
  .catalog-item__text {
    padding-bottom: 174px;
    margin-left: 25px;
    margin-top: 25px;
  }
  .catalog-item__text h4 {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 6px;
  }
  .catalog-item__text p {
    font-size: 16px;
  }
  .catalog-item__price {
    width: 100%;
    padding-top: 22px;
  }
  .catalog-item__price span {
    font-size: 17px;
    margin-left: 31px;
  }
  .catalog-item__text--toys {
    padding-bottom: 150px;
  }
  .catalog-item__basket {
    margin-right: 0;
  }
}

@media @desktop-widths {
  .catalog {
    margin-bottom: 6px;
  }
  .catalog__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 94px;
    padding-bottom: 119px;
    margin-left: 5px;
  }
  .catalog__header {
    background-size: auto 34px;
    margin-bottom: 111px;
  }
  .catalog__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .catalog-item {
    display: block;
  }
  .catalog-item img {
    width: 316px;
    height: 462px;
  }
  .catalog-item__text {
    padding-bottom: 37px;
    margin-left: 27px;
    margin-top: 21px;
  }
  .catalog-item__price {
    padding-bottom: 26px;
  }
  .catalog-item__text--toys {
    padding-bottom: 13px;
  }
  .catalog-item__basket {
    margin-right: 16px;
  }
}
