.comments {
  .container-padding();
  padding-bottom: 45px;
}
.comments__title {
  margin: 0;
  padding: 0;
  .fonts-bold();
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.comments__items {
  .list();
}
.comments__comment,
.comments__email {
  .fonts-regular();
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}
.comments__comment {
  width: 235px;
  margin-bottom: 40px;
}
.comments__signature {
  .paragraph();
  .fonts-bold();
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.comments__button-wrapper {
  font-size: 0;
  margin-bottom: 35px;
}
.comments__button {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  width: 128px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #ececec;
}
.comments__button--next {
  margin-right: 0;
}
.comments__btn {
  width: 256px;
}

@media @tablet-widths {
  .comments {
    background: url("../img/review@1x.jpg") no-repeat;
  }
  .comments__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 70px;
  }
  .comments__comment {
    width: 593px;
    padding-top: 23px;
  }
  .comments__button-wrapper {
    position: relative;
    top: -80px;
    right: 0;
    font-size: 0;
    margin-left: 412px;
  }
  .comments__btn {
    position: relative;
    top: -386px;
    left: 488px;
    width: 175px;
  }
}

@media @desktop-widths {
  .comments {
    .container-padding();
    background: none;
  }
  .comments__wrapper {
    background: url("../img/review@1x.jpg") no-repeat;
  }
  .comments__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: 175px;
  }
  .comments__items {
    margin-left: 175px;
  }
  .comments__btn {
    top: -404px;
    left: 871px;
  }
  .comments__button-wrapper {
    margin-left: 790px;
  }
}
