.contacts {
  .container();
}
.contacts__title {
  .list();
  .fonts-bold();
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  padding-top: 45px;
  margin-bottom: 40px;
}
.contacts span {
  .paragraph();
  .fonts-regular();
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.contacts__wrapper {
  .container-padding();
  padding-bottom: 45px;
}
.contacts__map {
  margin-bottom: 35px;
}

@media @tablet-widths {
  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contacts__wrapper p {
    padding-right: 50px;
  }
  .contacts__btn--wrapper {
    text-align: center;
    margin-bottom: 55px;
  }
  .contacts__title {
    width: 100%;
    font-family: "Veranda", Helvetica, Arial, sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    color: #000000;
    padding: 0;
    margin: 0;
  }
  .contacts__address-street {
    display: inline-block;
    vertical-align: top;
  }
  .contacts__btn {
    width: 230px;
  }
}
