.main-nav {
  .container();
}
.main-nav__items {
  .paragraph();
}
.main-nav__item {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 35px;
  border-bottom: 1px solid #ececec;
}
.main-nav__item a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  padding-left: 75px;
}
.main-nav__item-search-input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 75px;
}
