.modal-size {
  text-align: center;
  margin-bottom: 30px;
}
.modal-size__btn {
  display: inline-block;
  vertical-align: top;
  border: none;
  outline: none;
  .fonts-bold();
  font-size: 17px;
  line-height: 16px;
  color: #444444;
  width: 80px;
  border: 2px solid #ececec;
  background: #ffffff;
  cursor: pointer;
  padding-top: 17px;
  padding-bottom: 17px;
}
