.modal {
  .container-padding();
  padding-top: 40px;
  padding-bottom: 45px;
}
.modal__title {
  .paragraph();
  .fonts-bold();
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
}
.modal__caption {
  .fonts-regular();
  .paragraph();
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  text-align: center;
}
.modal__btn {
  color: #ffffff;
  background: #63d1bb;
  border: none;
}

@media @tablet-widths {
  .modal {
    box-sizing: border-box;
    width: 567px;
    height: 337px;
    border: 1px solid #c7c7c7;
    box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
    margin-bottom: 50px;
  }
  .modal__title {
    font-size: 30px;
    line-height: 57px;
    text-align: center;
  }
  .modal__caption {
    font-size: 17px;
  }
  .modal__btn {
    width: 352px;
    margin-left: 85px;
  }
}
