.page-footer {
  background: #f1f1f1;
}
.page-footer__logo {
  display: none;
}
.page-footer__wrapper {
  .container-padding();
}
.page-footer__social {
  margin: 0;
  border-bottom: 1px solid #ececec;
  padding-bottom: 28px;
  padding-top: 24px;
}
.page-footer__copyright {
  display: flex;
  text-decoration: none;
  margin: 0;
  padding-left: 37px;
  padding-bottom: 30px;
  padding-top: 9px;
  &:active {
    opacity: 0.3;
  }
}
.page-footer__copyright span {
  .fonts-bold();
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  padding-right: 30px;
  margin-top: 18px;
}
.page-footer__copyright img {
  margin-top: 13px;
}

@media @tablet-widths {
  .page-footer__logo {
    display: block;
  }
  .page-footer__logo svg {
    width: 102px;
    height: auto;
    &:hover {
      fill: #46c1ae;
    }
    &:active {
      fill: rgba(70, 193, 174, 0.3);
    }
  }
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 17px;
  }
  .page-footer__social {
    border-bottom: none;
    padding-top: 15px;
    padding-bottom: 35px;
    margin-left: 45px;
  }
  .page-footer__copyright {
    padding-left: 0;
    padding-top: 5px;
  }
}

@media @desktop-widths {
  .page-footer__wrapper {
    padding-bottom: 25px;
  }
  .page-footer__logo {
    margin-right: 264px;
  }
  .page-footer__social {
    margin-left: 30px;
    margin-right: 255px;
  }
}
