.video-overview {
  .container();
}
.video-overview__wrapper {
  width: 260px;
  margin: 0 auto;
  border: 1px solid #ececec;
}
.video-overview__title {
  .paragraph();
  .fonts-bold();
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  padding-left: 90px;
  padding-top: 28px;
  padding-bottom: 25px;
}
.video-overview p {
  .paragraph();
  .fonts-regular();
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  padding-left: 35px;
  padding-top: 30px;
  padding-right: 45px;
  margin-bottom: 30px;
}
.video-overview__btn {
  width: 190px;
  margin-bottom: 35px;
  margin-left: 35px;
}
